# Core data science
numpy==1.26.4
pandas==2.2.2
scikit-learn
scipy
# Image processing
opencv-python
Pillow
scikit-image
albumentations
# Deep learning
torch==2.1.2
torchvision
timm==1.0.7
# Visualization
matplotlib
seaborn
# Web app
streamlit
joblib
# ML models
lightgbm
# Jupyter notebooks
jupyter
ipykernel
ipywidgets
notebook
# Misc utilities
tqdm
PyYAML
imblearn
pickle
json
io